.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.weather-app {
    width: 35rem;
    height: 65rem;
    padding: 2rem;
    
    /* background-image: linear-gradient(to top, #f3b07c, #fcd283); */
    box-shadow: -3rem 1rem 6rem var(--shadow);
    border-radius: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

/* ==== SEARCH ====*/
.search {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.loader {
    width: 5rem;
    margin-top: 10rem;
}

.not-found {
    font-size: 3rem;
    color: var(--black-300);
    margin-top: 5rem;
    text-shadow: -.3rem .5rem 1rem var(--shadow);
}

/* location */
.search-top {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-top i {
    font-size: 3rem;
    color: var(--black-200);
}

.search-top div {
    font-size: 2rem;
    color: var(--black-300);
    letter-spacing: .1rem;
}

/* search bar */
.search-bar {
    position: relative;
}
.search-bar input {
    width: 25rem;
    height: 3.5rem;
    background-color: transparent;
    border: .2rem solid var(--black-500);
    border-radius: 3rem;
    outline: none;
    padding: 1rem 1rem;
    font-size: 1.6rem;
    color: var(--black-300);
}

.search-bar input::placeholder {
    font-size: 1.4rem;
    color: var(--black-500);
    letter-spacing: .1rem;
}

.search-bar i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    color: var(--black-200);
    cursor: pointer;
}
/* ==== WEATHER ==== */

.image-container {
    width: 500px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    margin-top: -7.5rem;
    animation: up-down 3s ease-in-out alternate infinite;
}

@keyframes up-down {
    to {
        transform: translateY(10px);
    }
}

.weather-type {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: var(--black-300);
}

.weather-temp {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 3rem;
}

.high-temp, .low-temp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-temp {
    font-size: 1.6rem;
    color: var(--black-300);
}

.temp {
    font-size: 6rem;
    background-image: linear-gradient(to top, var(--black-200), var(--black-600));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: .5rem .5rem 1rem var(--shadow);
}

/* ==== WEATHER DATE ==== */
.weather-date {
    position: absolute;
    bottom: 22%;
    font-size: 1.6rem;
    color: var(--black-300);
}

/* ==== WEATHER DATA ==== */

.weather-data {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
}

.weather-data > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, .2);
    padding: 1rem;
    border-radius: 1rem;
}

.data-name {
    font-size: 1.6rem;
    color: var(--black-400);
}

.weather-data i {
    font-size: 2rem;
    color: #fff;
    text-shadow: -.3rem .3rem .5rem var(--shadow);
}

.data {
    font-size: 2rem;
    color: var(--black-200);
}